.btn-second, .btn-outline-second:hover{
    background-color: var(--secondary-color);
    color: white;
}

.btn-second:hover, .btn-outline-second{
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-prim, .btn-outline-prim:hover{
    background-color: var(--primary-color);
    color: white;
}

.btn-prim:hover, .btn-outline-prim{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


.scrollUp{
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.scrollUp a{
    color: var(--secondary-color);
}