* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

}


.info {
    font-family: "Quicksand", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 26px;
    margin-top: 10px;
    color: var(--font-color);
}

.card-layout {
    width: var(--mobile-width);
    height: var(--mobile-height);
    margin: 30px 0;
    border-radius: var(--mobile-radius);
    perspective: 500px;
    overflow: hidden;
    color: var(--font-color);
    box-shadow: 6px 7px 8px 9px #00000017;
    background-color: lightgray;
}
.card-layout .notification-header {
    position: fixed;
    top: 5px;
    width: 100%;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    z-index: 6;
}
.card-layout .actions {
    position: fixed;
    top: 37px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    z-index: 6;
}
.card-layout .book-cover {
    position: relative;
    height: var(--separator-height);
    width: calc(var(--mobile-width) * 2);
    left: -52.5%;
    border-top-left-radius: var(--mobile-radius);
    border-top-right-radius: var(--mobile-radius);
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: var(--transition);
    z-index: 4;
}
.card-layout .book-top {
    width: 170px;
    position: absolute;
    top: 100px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
}
.card-layout .book-side {
    position: absolute;
    top: 350px;
    left: 222px;
    transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}
.card-layout:hover .book-cover {
    transform: rotateX(75deg) translateZ(45px) scale(0.75);
}
.card-layout:hover .book-cover + .preface {
    transform: translateY(-302px);
}
.card-layout:hover .book-cover + .preface .icon {
    transform: rotateX(180deg);
}
.card-layout .preface {
    height: fit-content;
    padding: 50px;
    transition: var(--transition);
    background: white;
}
.card-layout .preface .header {
    display: flex;
    align-items: center;
}
.card-layout .preface .title {
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}
.card-layout .preface .author {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}
.card-layout .preface .icon {
    transform-origin: top;
    transition: var(--transition);
}
.card-layout .preface .body {
    font-family: "Quicksand", sans-serif;
}
.card-layout .preface .body p:first-child {
    margin-bottom: 15px;
}