/*Switch */
.darkmode-switch{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    top: 34px;
    left: -40px;
    width: 35px;
    height: 16px;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 0;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(20px);
}

.bi-moon, .bi-sun {
    color: white;
    font-size: 10px;
}

/* Darkmode */

body.darkmode {
    background-color: var(--darkmode-bg);
    color: white;
}

body.darkmode .card-layout{
    background-color: var(--card-bg-dark);
    color: white;
}

body.darkmode .preface{
    background-color: var(--card-preface-bg-dark);
}

body.darkmode .bg-banner{
    color: white;
}
