:root{
    --primary-color: rgb(35 163 197);
    --primary-color-bg: rgb(35 163 197);
    --secondary-color: rgb(79, 79, 79);

    /*cards */
    --mobile-width: 325px;
    --mobile-height: 580px;
    --mobile-radius: 25px;
    --separator-height: 400px;
    --font-color: #807b7b;
    --transition: transform 0.7s ease-in-out;
    --card-bg-light: #d3d3d3;
    --card-preface-bg-light: #fff;

    /*darkmode*/
    --darkmode-bg: #333333;
    --card-bg-dark: #3c3c3c;
    --card-preface-bg-dark: #242424;

}
